@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.signup-first {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.signup-first ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
}
.signup-first ul li {
  margin: 30px;
  text-align: left;
}
.signup-first ul h1 {
  font-size: 26px;
  color: #4d4d4d;
  font-weight: 400;
  font-family: 'Roboto';
}
